h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }

  .option {
    padding: 5px;
}

.w33 {
    display: block;
    width: 33%;
    box-sizing: border-box;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.bigButton {
    width : 100%;
    height: 33%;
    display: block;
    font-size: 200%;
}

.value {
    font-size: 500%;
    line-height: 1.5;
    font-family: sans-serif;
    text-align: center;
}
.label {
    font-size: 150%;
    line-height: 1.5;
    font-family: sans-serif;
    text-align: center;
}

.w100 {
    width: 100%;
}