<div id="gold" class="w100 float-l">
  <div class="w16 float-l option"></div>
  <div class="w33 float-l option">
    <div class="label">
      Leben
    </div>
    <button mat-button class="bigButton icon-up-open-big" (click)="life = life + 1"></button>

    <div class="value" *ngIf="life <= maxLife; then content else other_content">{{ life }}</div>
    <ng-template #content>
      <div class="value" *ngIf="lifewarn; then warnContent else normalConent">{{ life }}</div>
      <ng-template #warnContent>
        <mat-card style="background-color: #fa9e87; color:aliceblue;">
          <div class="value">{{ life }}</div>
        </mat-card>
      </ng-template>
      <ng-template #normalConent>
        <mat-card>
          <div class="value">{{ life }}</div>
        </mat-card>
      </ng-template>

    </ng-template>
    <ng-template #other_content>
      <mat-card style="background-color: #eefa87;">
        <div class="value">{{ life }}</div>
      </mat-card>
    </ng-template>
    
    <button mat-button class="bigButton icon-down-open-big" (click)="life = life - 1"></button>
  </div>
  <div class="w33 float-l option" style="margin: 95px auto;">
    <button mat-raised-button class="bigButton" color="primary" (click)="maxLife = life">setze Charakter Lebenskraft</button>
    <p style="text-align: center">Charakter Lebenskraft: {{ maxLife }}</p>
    <button mat-raised-button class="bigButton" color="warn" (click)="life = maxLife">vollständige Heilung</button>
  </div>
  <div class="w16 float-l option"></div>
</div>